.workspace-thumbnails {
  visible-width: 4px;
  background-color: transparent;
  padding: 4px;
  padding-right: 12px;
  border-width: 0;
  spacing: 20px;
}

.thumbnail-border {
  border: 4px solid rgba(255,255,255,0.5);
}

.workspace-thumbnail-indicator {
  border: 4px solid white;
}

.app-view-control {
  border-radius: 99px;
  padding: 8px;
}

.app-view-control > StIcon {
  icon-size: 24px;
}
